<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
        bootstrap="../unittestautoload.php"
        backupGlobals="true"
        colors="true"
        columns="120"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnRisky="false"
        stopOnSkipped="false"
        verbose="true"
        printerClass="\Sempro\PHPUnitPrettyPrinter\PrettyPrinterForPhpUnit9"
>
  <php>
    <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED"/>
    <ini name="display_errors" value="On"/>
    <ini name="log_errors" value="On"/>
    <ini name="html_errors" value="Off"/>
  </php>
  <testsuites>
    <testsuite name="testsU">
      <directory suffix="Test.php">.</directory>
    </testsuite>
  </testsuites>
</phpunit>
